name: Test
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-check:
    name: runner / pyaction (github-check)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    steps:
      # Checkout this repo and Python Package Template repo for validation testing.
      - uses: actions/checkout@v4
        with: 
          repository: microsoft/python-package-template
          path: pyproject
          clean: true
      - uses: actions/checkout@v4
        with:
          path: pyaction
          clean: true

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      # Test the action with no enabled steps.
      - name: NoOps
        uses: ./pyaction
        with:
          black: false
          bandit: false
          pylint: false
          pyright: false
          pytest: false
          pypi_publish: false
          pypi_custom_publish: false

      # Test the action with all enabled steps.
#      - name: All Ops
#        uses: ./pyaction
#        with:
#          black: true
#          bandit: true
#          pylint: true
#         pyright: true
#         pytest: true
#          pypi_publish: true
#          pypi_repo: testpypi
#         pypi_password: ${{ secrets.TEST_PYPI_PASSWORD  }}
#         root: pyproject
#          version_suffix: 'rc${{ github.run_number }}-dev${{ github.run_attempt }}'
